@model CreateAccountTypeProfileViewModel
@using AdminDashboard.Models.SwaggerModels;
@{
    ViewData["Title"] = "CreateAccountTypeProfile";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="card-header">
                        <h2>Create AccountType Profile </h2>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label class="control-label">AccoutType <span class="validation-error">*</span></label>
                            <select asp-for="AccountTypeID" asp-items="Model.AccountTypes" class="form-control" data-style="select-with-transition" title="Choose a Accout Type " data-size="7">
                                <option disabled selected> Choose a AccountType</option>
                            </select>
                            <span asp-validation-for="AccountTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Profiles <span class="validation-error">*</span></label>
                            <select asp-for="ProfileID" asp-items="Model.Profiles" class="form-control" data-style="select-with-transition" title="Choose a Profile" data-size="7">
                                <option disabled selected> Choose a Profile</option>
                            </select>
                            <span asp-validation-for="ProfileID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
             var msg = '@TempData["result"]';
             if (msg == "False") {
                swal({
                    title: "Error Saving!",
                    text: "this is Selection is already exist!",
                    icon: "error",
                    button: "Ok",
                });
            }
         });
    </script>
}
