<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Select Channel:</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Channels</h2>
                                </div>
                                <div class="card-body">

                                    <div class="form-group row">
                                        <div class="col-md-10">
                                            <input id="txtSearchKey" class="form-control" placeholder="Search by Serial"
                                                   onkeyup="toggleButton(this,'btnSearch')" />
                                        </div>
                                        <div class="col-md-2">
                                            <input id="btnSearch" type="submit" value="Search" class="btn btn-secondary" disabled />
                                        </div>
                                    </div>
                                    <table class="table table-striped" id="tblChannels">
                                        <thead>
                                            <tr>
                                                <th>Serial</th>
                                                <th>Channel Type</th>
                                                <th>Channel Owner</th>
                                                <th>Payment Method</th>
                                                <th>Created by</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


