@model AccountChannelTypeViewModel
@{
    ViewData["Title"] = "Assign Account ChannelType";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form asp-action="EditAccountChannelType" method="post">
                    <div class="card-header">
                        <h2>Edit AccountChannelType</h2>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="AccountID" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Expiration Period <span class="validation-error">*</span> </label>
                            <input type="text" asp-for="ExpirationPeriod" class="form-control" />
                            <span asp-validation-for="ExpirationPeriod"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="HasLimitedAccess">Has LimitedAccess</label>
                            <input asp-for="HasLimitedAccess" type="checkbox" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}
