
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" id="denominationId" />
                    <input type="hidden" id="denominationName" />
                    <div class="form-group">
                        <label class="control-label">Fees Value <span class="validation-error">*</span></label>
                        <select id="FeesId" asp-items="@ViewBag.Fees" onchange="toggleButton(this,'btnAddDenominationFees')" class="form-control" data-style="select-with-transition" title="Choose a Fee Value" data-size="7">
                            <option value="0" disabled selected> Choose a Fee </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}
