@model CreateDenominationFeesViewModel
@using AdminDashboard.Models.SwaggerModels;
@{
    ViewData["Title"] = "CreateDenominationFee";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="card-header">
                        <h2>Create Denomination Fee</h2>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="DenominationId" />
                        <input type="hidden" asp-for="DenominationName" />
                        <div class="form-group">
                            <label class="control-label">Fees Value <span class="validation-error">*</span></label>
                            <select asp-for="FeesId" asp-items="Model.Fees" class="form-control" data-style="select-with-transition" title="Choose a Fee Value" data-size="7">
                                <option disabled selected> Choose a Fee </option>
                            </select>
                            <span asp-validation-for="FeesId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}
