<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Super Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <style>


        .progressbar {
            counter-reset: step;
        }

            .progressbar li {
                position: relative;
                list-style: none;
                float: left;
                width: 25%;
                text-align: center;
            }

                /* Circles */
                .progressbar li:before {
                    content: counter(step);
                    counter-increment: step;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #2979FF;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: #FF9100;
                    /* Center # in circle */
                    line-height: 39px;
                }

                .progressbar li:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: orange;
                    top: 20px; /*half of height Parent (li) */
                    left: -50%;
                    z-index: -1;
                }

                .progressbar li:first-child:after {
                    content: none;
                }

                .progressbar li.active:before {
                    background: #00E676;
                    content: "✔";
                }

                .progressbar li.active + li:after {
                    background: #00E676;
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Super Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Accounts" asp-action="Index">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Channels" asp-action="Index">Channels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="SearchDenomniation" asp-action="Index">Search Denomination</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Logs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="Accounts" asp-action="AccountChannelsHistory">Account Channels History</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lookups
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="ServiceProvider" asp-action="Index">Service Provider</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="ServiceConfiguaration" asp-action="Index">Service Configuration</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="Parameter" asp-action="Index">Parameter</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="Fees" asp-action="Index">Fees</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="Tax" asp-action="Index">Taxes</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="Commission" asp-action="Index">Commission</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="DenominationParams" asp-action="Index">Denomination Params</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="AccountType" asp-action="Index">AccountTypes </a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="AccountTypeProfile" asp-action="Index">AccountType Profile</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="AccountTypeProfileDenomination" asp-action="Index">AccountType Profile Denomination</a>
                                <a class="dropdown-item" asp-area="SuperAdmin" asp-controller="Types" asp-action="Index">Types</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AdminDashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/font-awesome/js/all.js"></script>*@
    @*<script src="~/font-awesome/js/fontawesome.js"></script>*@
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/select2/select2.full.min.js"></script>
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
