@model LookupTypesViewModel

<div class="card-header">
    <button type="button" class="btn btn-outline-primary fa-pull-right" data-toggle="modal" data-target="#LookupTypeModel">
        Add
    </button>
</div>
<div class="card-body">
    <table class="table table-striped" id="tableType-@Model.IdentifierType">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Name Ar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var deno in Model.GeneralLookups)
            {
                <tr>
                    <td>@deno.Id</td>
                    <td>@deno.Name</td>
                    <td>@deno.NameAr</td>
                    <td>
                        <button asp-action="Edit" asp-route-id="1" class="btn btn-info">
                            Edit
                        </button>
                        <button onclick="ConfirmDelete(1,this)" class="btn btn-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>

    </script>
}

