@model AdminServiceViewModel
@using AdminDashboard.Models.SwaggerModels
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form asp-action="Edit" method="post">
                    @Html.AntiForgeryToken()
                    <div class="card-header">
                        <h2>Create Account</h2>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Name Ar</label>
                            <input asp-for="ArName" class="form-control" />
                            <span asp-validation-for="ArName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Code</label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Path Class</label>
                            <input asp-for="PathClass" class="form-control" />
                            <span asp-validation-for="PathClass" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Type</label>
                            <select asp-for="ServiceTypeID" asp-items="Model.ServiceTypes" class="form-control" data-style="select-with-transition" title="Choose a governerate" data-size="7">
                                <option disabled selected>Choose Type</option>
                            </select>
                            <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Catgory</label>
                            <select asp-for="ServiceCategoryID" asp-items="Model.ServicesCategories" class="form-control" data-style="select-with-transition" title="Choose a governerate" data-size="7">
                                <option disabled selected> Choose Category</option>
                            </select>
                            <span asp-validation-for="ServiceCategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Entity</label>
                            <select asp-for="ServiceEntityID" asp-items="Model.ServiceEntities" class="form-control" data-style="select-with-transition" title="Choose a governerate" data-size="7">
                                <option disabled selected> Choose Entity</option>
                            </select>
                            <span asp-validation-for="ServiceEntityID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Class Type</label>
                            <select asp-for="ClassType" asp-items="@Html.GetEnumSelectList<ServiceClassType>()" class="form-control" data-style="select-with-transition" title="Choose a Role" data-size="7">
                                <option disabled selected> Choose a Class</option>
                            </select>
                            <span asp-validation-for="ClassType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}
